{% extends "base.html" %}

{% block content %}
<div class="panel panel-success">
    <div class="panel-heading">
        <h1 class="panel-title">Dogs Register </h1>
    </div>
    <div class="panel-body">
        <a href="{{ path_for('new_owner') }}" class="button btn btn-success " >New Record</a>
        <table id="taskTable" class="table table-hover table-striped dataTable table-responsive" cellspacing="2">
            <thead>
            <tr>
                <th class="col-md-3 ">Name</th>
                <th class="col-md-3 ">Breed</th>
                <th class="col-md-1 ">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for dog in dogs %}
                {% include 'dogs_row.html' %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}