{% extends "base.html" %}

{% block content %}

<div class="panel panel-info">
    <div class="panel-heading">
        <h1 class="panel-title">Edit Owner Record </h1>
    </div>
    <div class="panel-body">

        <form action="{{ path_for('edit_owner', {'id': dog.id} ) }}" method="POST" name="edit">

            <div class="form-group">
                <label for="first_name">First Name</label>
                <input type="text" class="form-control" id="first_name" name="first_name" value={{ dog.owner_first_name}} >
            </div>
            <div class="form-group">
                <label for="last_name">Last Name</label>
                <input type="text" class="form-control" id="last_name" name="last_name" value={{ dog.owner_last_name}} >
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" class="form-control" id="phone" name="phone" value={{ dog.owner_phone}} >
            </div>

            <div class="form-group">
                <label for="dog_name">Dog Name</label>
                <input type="text" class="form-control" id="dog_name" name="dog_name" value={{ dog.dog_name}} >
            </div>
            <div class="form-group">
                <label for="breed">Breed</label>
                <input type="text" class="form-control" id="breed" name="breed" value={{ dog.breed}} >
            </div>
            <div>
                <input class="btn btn-success" name="submit" type="submit" value="Save"/>
                <a href="{{path_for('owners')}}" class="button btn btn-danger" >Cancel</a>
            </div>
        </form>
    </div>
</div>
<div>
    <form action="{{path_for('delete', {'id': dog.id}) }}" method="post" name="delete">
        <input class="button btn btn-warning" name="delete" type="submit" value="Delete" />
    </form>
</div>

{% endblock %}